<!-- Query of all the Teachers in the School -->

<div class='teacher-container'>
  <div class='card-header col-md-10'>
    <h2>
      &#127869 Staff
    </h2>
  </div>
  {{#each teachers as |teacher|}}
    <div class='teacher col-md-5'>
      <p>
        {{teacher.id}}.
        {{teacher.teacher_name}}
      </p>
    </div>
    <div class='col-md-7'>
      <p>
        Classroom:
        {{classroom.name}}
      </p>
    </div>
  {{/each}}
  <div class='teacher-update-form'>
    <h2>
      Edit a Teacher!
    </h2>
    <form class='update-teacher-form'>
      <label for='teacher_name'>
        Teacher Name:
      </label>
      <br />
      <textarea id='teacher_name' name='teacher_name' rows='2' cols='30'>
        {{teacher_name}}
      </textarea>
      <br />
      <label for='classroom_name'>
        Classroom Name:
      </label>
      <br />
      <textarea id='classroom_name' name='classroom_name' rows='5' cols='30'>
        {{classroom.name}}
      </textarea>
      <br />
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>
</div>
<!-- This is the form for adding and updating a teacher -->
<script src='/js/editStaff.js'></script>